body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.hero{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    margin-top: 28px;
    margin-left: 200px;
    margin-right: 200px;
    gap: 1.8rem;
    
}

.icon{
    width: auto;
    height: 120px;
}