body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

:root {
  --container: 1100px;
  /* max content width */
  --gutter: clamp(16px, 4vw, 48px);
  /* responsive side padding */
}

.page {
  max-width: var(--container);
  margin-inline: auto;
  padding-inline: var(--gutter);
}


.hero {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  margin-top: 28px;

  gap: 1.8rem;
  width: 100%;

}

.HLayout {

  display: flex;
  flex-direction: row;

}

.SensorsCont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;

}

.MainCont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 20px;
  gap: 20px;
  grid-auto-rows: 120px;

}

.ReadingsBox {
  background-color: #f0fdf4;
  border-radius: 8px;
  padding: 16px;
  border: 2px solid #b9f8cf;


  /* min-width not needed anymore */
}

.Graph {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  border: 2px solid #e7e8e8;


  /* min-width not needed anymore */
}

.SensorText {
  color: #00a63e;
  margin: 16px;
}

.SensorValue {
  color: #00a63e;
  margin: 16px;
  margin-right: 8px;

}


.icon {
  width: auto;
  height: 120px;
}