body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.hero{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    margin-top: 28px;
    margin-left: 14%;
    margin-right: 14%;
    gap: 1.8rem;
    
}

.SensorsCont{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
  margin-left: 14%;
  margin-right: 14%;
}

.ReadingsBox{
  background-color: rgb(196, 255, 109);
  border-radius: 8px;
  padding: 16px;
  /* min-width not needed anymore */
}


.icon{
    width: auto;
    height: 120px;
}